.text-blob {
    font-size: 32px;
    font-family: sans-serif;
    /* color: #fff; */
    /* background-color: #000; */
    /* color: black; */
    /* padding: 20px; */
    border-radius: 10px;
    position: relative;
    top: 6%;
  left: 18%;
    /* right: 31.2%; */
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
}



/* fade-in and fade-out animation */
.fade-in {
    animation: fadeIn ease 9s;
    -webkit-animation: fadeIn ease 9s;
    -moz-animation: fadeIn ease 8s;
    -o-animation: fadeIn ease 8s;
    -ms-animation: fadeIn ease 7s;
}
.fade-out {
    animation: fadeOut ease 5s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 7s;
    -o-animation: fadeOut ease 5s;
    -ms-animation: fadeOut ease 9s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}


